<!DOCTYPE html>
<html>
<head>
    <title>Smart Cafe</title>
</head>
<body style="
background:#121212;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;">

<div style="text-align:center;">

    <h1 style="font-size:60px;color:orange;">
        ☕ Smart Cafe
    </h1>

    <h2>Fresh Coffee & Delicious Food</h2>

    <p>Order your favorite food and beverages online.</p>

    <br>

    <a href="/login">
        <button style="
        background:orange;
        color:black;
        border:none;
        padding:12px 30px;
        border-radius:8px;
        cursor:pointer;">
            Login
        </button>
    </a>

    <a href="/register">
        <button style="
        background:orange;
        color:black;
        border:none;
        padding:12px 30px;
        border-radius:8px;
        cursor:pointer;">
            Register
        </button>
    </a>

</div>

</body>
</html>